@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>BorderRadius</title>
  <link href="/content/coveragechart.css" rel="stylesheet" type="text/css" />
  <style>
    .round-me {
      border: solid 1px #000;
      border-radius: 15px;
      height: 100px;
      width: 100px;
    }
  </style>
</head>
<body>
  <h1>Border Radius</h1>

  <p>Another reason we made a lot of extra images for website designs was the rounded corner. No more!</p>

  <div class="round-me"></div>
</body>
</html>
