@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratedContent</title>
  <link href="/content/coveragechart.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        
    </div>
</body>
</html>
