@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>RGBA</title>
  <link href="/content/coveragechart.css" rel="stylesheet" type="text/css" />
  <style>

    .container {
      position: relative;
      height: 150px;
    }

    .other {
        background-color: #F00;
        border: solid 1px #000;
        padding: 15px;
        position: absolute;
        width: 200px;
        top: 30px;
        z-index: 1;
    }

    .main-element {
        background-color: rgba(255, 255, 255, .5);
        border: solid 1px #000;
        height: 100px;
        left: 35px;
        position: absolute;
        top: 0;
        width: 100px;
        z-index: 10;
    }
  </style>
</head>
<body>
  <h1>RGBA</h1>

  <p>We've been specifying RGB in CSS for a long time. Now we can set an alpha value. Contrast 
    this CSS property <a href="/leveragingnewvisualtools/opacity">with the opacity CSS 
    property</a>.</p>

  <div class="container">
    <div class="other">
        behind
    </div>
    <div class="main-element">
        This is a box.
    </div>
  </div>

  @Html.DeviceCoverage()

</body>
</html>
