@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AudioAndVideo</title>
  <link href="/content/coveragechart.css" rel="stylesheet" type="text/css" />
</head>
<body>

<video>
  <source src="avideo.webm" type="video/webm">
  <source src="avideo.mp4" type="video/mp4">
  <source src="avideo.ogv" type="video/ogg">
</video>

<audio>
  <source src="foo.wav" type="audio/wav">
  <source src="foo.mpg" type="audio/mpeg">
</audio>

</body>
</html>
