<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/reset.css" rel="stylesheet" />
    <link href="~/content/standard-styles.css" rel="stylesheet" />

  <style>
    ol li {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    @RenderBody()
  </div>
</body>
</html>
