<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link href="~/content/third-party-libraries/kendo-ui-mobile/kendo.mobile.all.min.css" rel="stylesheet" />
  <script src="~/content/third-party-libraries/kendo-ui-mobile/jquery.min.js"></script>
  <script src="~/content/third-party-libraries/kendo-ui-mobile/kendo.mobile.min.js"></script>
</head>
<body>
  @RenderBody()

</body>
</html>