@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Respond</title>
  <link href="/content/third-party-libraries/respond/test.css" media="screen and (min-width: 50px)" rel="stylesheet" />
  <script src="/content/third-party-libraries/respond/respond.js"></script>
</head>
<body>
  <h1>Respond</h1>

  <p>This paragraph will not be followed by another if the browser supports media queries
    and Respond.js (https://github.com/scottjehl/Respond) can't fix it.</p>

  <p class="hide-me" style="background-color: yellow; border: solid 1px #000; font-weight: bold; padding: 5px;">Your browser does not support media queries.</p>

</body>
</html>
