@{
  Layout = @"~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Native APIs, HTML5 and CSS3 on Mobile Today - Mobile ASP.NET MVC 5 Chapter 9";
}
<div class="header major-section">
  <div class="section-content">
    <h1>Native APIs, HTML5 and CSS3 on Mobile Today</h1>
    <h2>Chapter 9</h2>
  </div>
</div>

<div class="container">

  <p>A chapter exploring what works well on mobile devices today. Despite being a bit buggy, mobile browsers are surpisingly capable.</p>

  <h3>Native APIs</h3>
  <ol>
    <li><a href="/leveragingnativeapis/geolocation">Geolocation</a></li>
    <li><a href="/leveragingnativeapis/photoaccess">Photo and Camera Access</a></li>
    <li><a href="/leveragingnativeapis/networkinfo">Network Info</a></li>
    <li><a href="/leveragingnativeapis/phoneandemail">Phone Calls and Email</a></li>
    <li><a href="/leveragingnativeapis/maps">Accessing Maps</a></li>
  </ol>

  <h3>New Capabilities</h3>
  <ol>
    <li><a href="/leveragingnewcapabilities/websockets">Websockets</a></li>
    <li><a href="/leveragingnewcapabilities/webstorage">Web Storage</a></li>
    <li><a href="/leveragingnewcapabilities/applicationcache">Application Cache</a></li>
    <li><a href="/leveragingnewcapabilities/webworkers">Web Workers</a></li>
    <li><a href="/leveragingnewcapabilities/historyapi">History API</a></li>
    <li><a href="/leveragingnewcapabilities/audioandvideo">Audio and Video</a></li>
    <li><a href="/leveragingnewcapabilities/bettersemantics">Better Semantics</a></li>
  </ol>

  <h3>New Visual Tools</h3>
  <ol>
    <li><a href="/leveragingnewvisualtools/webfonts">Web Fonts</a></li>
    <li><a href="/leveragingnewvisualtools/transitions">Transitions</a></li>
    <li><a href="/leveragingnewvisualtools/animations">Animations</a></li>
    <li><a href="/leveragingnewvisualtools/transformations">Transformations</a></li>
    <li><a href="/leveragingnewvisualtools/gradients">Gradients</a></li>
    <li><a href="/leveragingnewvisualtools/shadows">Shadows</a></li>
    <li><a href="/leveragingnewvisualtools/borderradius">Border Radius</a></li>
    <li><a href="/leveragingnewvisualtools/opacity">Opacity</a></li>
    <li><a href="/leveragingnewvisualtools/rgba">RGBA</a></li>
    <li><a href="/leveragingnewvisualtools/multiplebackgrounds">Multiple Backgrounds</a></li>
    <li><a href="/leveragingnewvisualtools/canvas">Canvas</a></li>
    <li><a href="/leveragingnewvisualtools/svg">SVG</a></li>
  </ol>


</div>