@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maps</title>
  <link href="/content/coveragechart.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>Maps</h1>  

  <p>Link to maps: <a href="http://maps.apple.com/?q=cupertino">http://maps.apple.com/?q=cupertino</a> opens up the native 
    Apple maps app on iOS devices. On Android it gives you the choice to open with various apps, if browser goes to website,
    if Google maps native app loads it there.
  </p>

  <p>Link to Google Maps: <a href="http://maps.google.com/maps?q=London">http://maps.google.com/maps?q=London</a> opens up
    launcher and can choose Google Maps on Android. On iOS opens in the website.
  </p>
  
  <p>Link to Bing Maps: <a href="http://www.bing.com/maps/?q=cupertino">http://www.bing.com/maps/?q=cupertino</a> opens up

  </p>

  <p>Second link: <a href="http://www.bing.com/maps/?where1=cupertino">http://www.bing.com/maps/?where1=cupertino</a> (WP 7.5)</p>

  <p>Third link: <a href="http://www.bing.com/maps/?v=2&where1=cupertino">http://www.bing.com/maps/?v=2&where1=cupertino</a> (WP 7.5)</p>

  <p>Fourth link: <a href="http://www.bing.com/maps/?where1=cupertino, ca">http://www.bing.com/maps/?where1=cupertino, ca</a> (WP 7.5)</p>

  <p>Fifth link: <a href="http://www.bing.com/maps/?v=2&where1=cupertino, ca">http://www.bing.com/maps/?v=2&where1=cupertino, ca</a> (WP 7.5)</p>

  <p>Map format work? <a href="maps:Cupertino">click here</a> and <a href="maps:49.275267 -122.988617">click here</a>. (WP 7.5)</p>

</body>
</html>
