@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PhoneAndEmail</title>
    <link href="/content/coveragechart.css" rel="stylesheet" type="text/css" />
    <!--meta name="format-detection" content="telephone=no"-->
</head>
<body>
    <div>
      
      <p><a href="tel:4561234567">This is a phone number link</a>.</p> 

      <p><a href="mailto:foo@example.com">This is an email link</a>.</p>

      <p>(456) 123-4567</p>

      <p>456 123 4567</p>

      <p>4561234567</p>

      <p>456-123-4567</p>

      <p>Phone number (456) 123-4567 in the midst of text.</p>

      <p>Phone number 456 123 4567 in the midst of text.</p>

      <p>Phone number 4561234567 in the midst of text.</p>

      <p>Phone number 456-123-4567 in the midst of text.</p>

       
    </div>
</body>
</html>
