@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>PhotoAccess</title>
  <link href="/content/coveragechart.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <h1>Photo Upload</h1>

  <form action="/leveragingnativeapis/photoaccess" method="post" enctype="multipart/form-data">
    <input type="file" name="fileData" id="file-input" />

    <input type="submit" value="Post" />
  </form>
    <button id="upload">Ajax Upload</button>

  <img id="image-display" style="width: 100%;" />

  @Html.DeviceCoverage()

<script>

  window.addEventListener('load', load);
  var fileInput, imageDisplay, canvasDisplay, uploadButton, imageData, imageAfterUploading;

  function load() {

    fileInput = document.getElementById('file-input');
    imageDisplay = document.getElementById('image-display');
    canvasDisplay = document.getElementById('canvas-display');
    uploadButton = document.getElementById('upload');
    imageAfterUploading = document.getElementById('image-after-uploading');

    fileInput.addEventListener('change', fileSelected);
    uploadButton.addEventListener('click', uploadFile);
  }

  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  function fileSelected(evt) {
    var file = evt.target.files[0];

    var reader = new FileReader();
    reader.onload = fileRead;

    reader.readAsDataURL(file);
  }

  function fileRead(evt) {
    imageDisplay.src = imageData = evt.target.result;
  }

  function uploadFile() {

    var formData = new FormData();
    formData.append('fileData', imageData);

    var xhr = new XMLHttpRequest();
    xhr.upload.addEventListener("progress", function (e) {
      if (e.lengthComputable) {
        var percentage = Math.round((e.loaded * 100) / e.total);
        if (percentage == 100) {
          //console.log('finished', e);
        }
      }
    }, false);
    xhr.onload = function (e) {
      var result = JSON.parse(e.currentTarget.response);
      if (result) {
        imageAfterUploading.src = '/content/' + result;
      }
      else {
        alert("Turned off the upload feature for the live site yo. Don't want you uploading images to my server!");
      }
    };
    xhr.onerror = function (e) {
      alert("Turned off the upload feature for the live site yo. Don't want you uploading images to my server!");
    }

    xhr.open('POST', "/leveragingnativeapis/photoaccess", true);
    xhr.send(formData);
  }

</script>

</body>
</html>
