@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advanced Touch Programming - Mobile ASP.NET MVC 5 Chapter 11";
}
<div class="header major-section">
  <div class="section-content">
    <h1>Advanced Touch Programming</h1>
    <h2>Chapter 11</h2>
  </div>
</div>

<div class="container">

  <p>
    This chapter will include more samples of touch programming and go through more concepts around making a better touch experience.
  </p>

  <ol>
    <li><a href="/advancedtouchprogramming/implementingabasicswipegesture">Implementing a swipe gesture</a></li>
    <li><a href="/advancedtouchprogramming/creatingaswipeableimagewidget">Creating a swipeable image widget</a></li>
    <li><a href="/advancedtouchprogramming/pinch">Pinch and Zoom</a></li>
  </ol>

</div>