@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>Pinch</title>

  <style>
    #the-box {
      height: 200px;
      margin: 20px 0 0 20px;
      width: 200px;
      position: absolute;
      -ms-touch-action: none;
    }
  </style>
</head>
<body>
@*  <p id="display">Pinch</p>
  <p id="display2">display 2</p>*@

@*  <div id="the-box" style="">

  </div>*@
  <img src="~/content/images/hogan_500.jpg" id="the-box" />


  <script src="/content/advancedtouchprogramming/pincher.js?cachebust=@Guid.NewGuid().ToString()"></script>

  <script>
    window.addEventListener('load', load);

    //var box, moveStarted, resizeStarted, offset, originalDistance, transformValue;
    //var display, display2;

    function load() {
      console.log('loaded');
      var box = document.getElementById('the-box');
      //display = document.getElementById('display');
      //display2 = document.getElementById('display2');

      var pincher = new window.Pincher(box);
    }

  </script>

</body>
</html>
