@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rotating</title>

  <style>
    .container {
      background-color: #EEE;
      height: 100%;
      min-height: 200px;
      width: 100%;
    }

    #button {
      display: block;
      margin: auto auto;
      width: 150px;

      /*-webkit-transform: rotate(90deg);*/
    }
  </style>
</head>
<body>
  <h1>Rotating</h1>
  <div class="container">
    <img src="~/content/advancedtouchprogramming/turnable-button.png" id="button" />
  </div>
  <div id="display"></div>

<script>

  window.addEventListener('load', load);

  var display, originalSlope;

  function load() {
    var button = document.getElementById('button');
    display = document.getElementById('display');

    button.addEventListener('touchstart', function (evt) {
      evt.preventDefault();
    });

    button.addEventListener('touchmove', move);
    button.addEventListener('touchend', end);
  }

  function move(evt) {
    //console.log(evt);
    //display.innerHTML = 'rotation: ' + evt.rotation + '; rotation angle: ' + evt.touches[0].webkitRotationAngle;
    //button.style.webkitTransform = 'rotate(' + evt.rotation + 'deg)';

    if (evt.changedTouches.length > 1) {

      var slope = evt.changedTouches[0].pageY - evt.changedTouches[1].pageY / evt.changedTouches[0].pageX - evt.changedTouches[1].pageX;
      if (!originalSlope) {
        originalSlope = slope;
        console.log('reset original slope');
      }

      var message = 'x: ' + evt.changedTouches[0].pageX + '; y: ' + evt.changedTouches[0].pageY;
      message += ' -- x: ' + evt.changedTouches[1].pageX + '; y: ' + evt.changedTouches[1].pageY;
      message += ' -- slope: ' + slope;
      if (originalSlope)
        message += ' -- rotation calc: ' + (originalSlope - slope);

      if (evt.rotation) {
        message += ' -- rotation: ' + evt.rotation;
      }

      display.innerHTML = message;
    }
    
  }

  function end(evt) {
    if (evt.touches.length == 0)
      alert('done');
  }



</script>
</body>
</html>
