@{
    ViewBag.Title = "AccordianNav";
}

<h2>AccordianNav</h2>

<p>This is a paragraph. LOL</p>

<p style="position: absolute; top: 10px;">This is a second paragraph</p>

<p>This is a third paragraph</p>