@{
  Layout = @"~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Programming for Touch - Mobile ASP.NET MVC 5 Chapter 10";
}
<div class="header major-section">
  <div class="section-content">
    <h1>Programming for Touch</h1>
    <h2>Chapter 10</h2>
  </div>
</div>

<div class="container">

  <p>
    One of the great things about mobile browsers is that all the modern ones have nice touch APIs. In this chapter I discuss
    the basic APIs, give a few samples and show how to program for the various touch programming models.
  </p>

  <ol>
    <li><a href="/touch/simpletouchsample">Simple touch sample</a></li>
    <li><a href="/touch/signature">Take a Signature</a></li>
  </ol>

</div>