@{
  ViewBag.Title = "Mobile ASP.NET MVC - Errata";
  ViewBag.BodyClass = "home";
}

<div class="header major-section">
  <div class="section-content">
    <h1>Errata</h1>
  </div>
</div>

<div class="container">

  <p>This book has errors. It makes me sad but here are the ones I know about.</p>

  <ul>
    <li>
      <strong>Pg 134</strong> - Copy/past error here. There should be two links, one to http://diveintohtml5.info/detect.html and
      another to https://developer.mozilla.org/en-US/docs/Browser_Feature_Detection. Thanks to John H. for pointing this
      out!
    </li>
  </ul>
</div>