@{
    ViewBag.Title = "Index";
}

<h2>Contents</h2>

<ol>
    <li>Basics of Responsive Web Design
      <ol>
        <li><a href="/responsivebasics/index">Sample responsive site</a></li>
      </ol>
    </li>
    <li>CSS Layout Bootcamp
      <ol>
        <li><a href="/csslayoutbootcamp/withoutareset">Page without a reset.</a></li>
        <li><a href="/csslayoutbootcamp/withareset">Page with a reset.</a></li>
      </ol>
    </li>
    <li>Flexible Layout
      <ol>
        <li><a href="/flexiblelayouts/threecolumnlayoutnomargin">Flexible 3-column layout with no margin (figure 1)</a></li>
        <li><a href="/flexiblelayouts/threecolumnlayoutwithsomemargin">Flexible 3-column with some margin (figure 2)</a></li>
        <li><a href="/flexiblelayouts/threecolumnresponsive">3-column responsive (figure 3)</a></li>
        <li><a href="/flexiblelayouts/threecolumnresponsivewithbordersbroken">3-column responsive with broken borders (figure 4)</a></li>
        <li><a href="/flexiblelayouts/threecolumnresponsivewithborders">3-column responsive with borders (figure 5)</a></li>
        <li><a href="/flexiblelayouts/twocolumnresponsive">2-column responsive</a></li>
        <li><a href="/flexiblelayouts/tencolumnresponsive">10-column responsive using borders</a></li>
      </ol>
    </li>
    <li>Flexible Navigation
        <ol>
          <li><a href="/flexiblenavigation/navmovedtobottom">Nav moved to bottom</a></li>
          <li><a href="/flexiblenavigation/navmovedtobottomnorepeatedmenu">Nav moved to bottom #2</a></li>
          <li><a href="/flexiblenavigation/navtoselect">Nav to select</a></li>
          <li><a href="/flexiblenavigation/accordiannav">Accordian Nav</a></li>
          <li><a href="/flexiblenavigation/flyoutnav">Flyout Nav</a></li>
        </ol>
    </li>
  <li>Flexible Content
    <ol>
      <li><a href="/flexiblecontent/table">Table</a></li>
      <li><a href="/flexiblecontent/tablewithzurbresponsivetables">Table with Zurb Responsive Tables</a></li>
      <li><a href="/flexiblecontent/tabledetablified">Table Detablified</a></li>
      <li><a href="/flexiblecontent/tabledetablified2">Table Detablified #2</a></li>
      <li><a href="/flexiblecontent/tabledetablified3">Table Detablified #3</a></li>
      <li><a href="/flexiblecontent/scrollingtable">Scrolling Table</a></li>
      <li><a href="/flexiblecontent/footable">Footable</a></li>
    </ol>
  </li>
  <li>Touch
    <ol>
      <li><a href="/touch/index">Basic Events</a></li>
      <li><a href="/touch/touchable">Building a Touchable Widget</a></li>
      <li><a href="/touch/hammer">Hammer</a></li>
    </ol>
  </li>
</ol>