@{
    ViewBag.Title = "Index";
}

<h2>Contents</h2>

<ol>
    <li>Flexible Layout
      <ol>
        <li></li>
      </ol>
    </li>
    <li>Flexible Navigation
        <ol>
          <li><a href="/flexiblenavigation/navmovedtobottom">Nav moved to bottom</a></li>
          <li><a href="/flexiblenavigation/navmovedtobottomnorepeatedmenu">Nav moved to bottom #2</a></li>
          <li><a href="/flexiblenavigation/navtoselect">Nav to select</a></li>
          <li><a href="/flexiblenavigation/accordiannav">Accordian Nav</a></li>
          <li><a href="/flexiblenavigation/flyoutnav">Flyout Nav</a></li>
        </ol>
    </li>
</ol>