@{
    ViewBag.Title = "Index";
}

<h2>Contents</h2>

<ol>
    <li>Responsive Navigation
        <ol>
          <li><a href="/responsivenavigation/navmovedtobottom">Nav moved to bottom</a></li>
          <li><a href="/responsivenavigation/navmovedtobottomnorepeatedmenu">Nav moved to bottom #2</a></li>
          <li><a href="/responsivenavigation/navtoselect">Nav to select</a></li>
          <li><a href="/responsivenavigation/accordiannav">Accordian Nav</a></li>
          <li><a href="/responsivenavigation/flyoutnav">Flyout Nav</a></li>
        </ol>
    </li>
</ol>