@{
    ViewBag.Title = "Index";
}

<h2>Contents</h2>

<ol>
    <li>Responsive Navigation
        <ol><a href="/responsivenavigation/navmovedtobottom">Nav moved to bottom</a></ol>
        <ol><a href="/responsivenavigation/navmovedtobottomnorepeatedmenu">Nav moved to bottom #2</a></ol>
        <ol><a href="/responsivenavigation/navtoselect">Nav to select</a></ol>
    </li>
</ol>