@using MobileMvcSamples.Controllers
@{
  ViewBag.Title = "Mobile ASP.NET MVC";
  ViewBag.BodyClass = "home";
}

<div class="header major-section">
  <div class="section-content">
    <h1>Mobile ASP.NET MVC</h1>
    <h2>by Eric B. Sowell</h2>
  </div>
</div>

<div class="container">

  <img src="/content/book-cover.png" class="book-cover" />
  <p>
    Welcome! This is online home for my book, <i>Mobile ASP.NET MVC 5</i>, which will be published
    by Apress in the next few days. When it comes out, I
    would appreciate any feedback that you have. You can email me at
    <a href="mailto:eric.sowell@gmail.com">eric.sowell@gmail.com</a>, hit me up on twitter
    <a href="http://twitter.com/mallioch">@@mallioch</a> or find me
    at my website, <a href="http://ericsowell.com">http://ericsowell.com.</a>
  </p>

  <p>
    This site is primarily for all of my samples in the book that are
    meant to be tested in the browser. Not every chapter has these, so to get all of the samples,
    including these, <a href="https://github.com/Mallioch/MobileMvcSamples">
      you can get the source
      code from the Github repository here
    </a>.
  </p>

  <p>
    Note that most of the sub-pages have no styling. This is on purpose since most of the pages are
    meant to be bare examples. And they are meant to be used in conjunction with the book, so those
    not following along in the text will have limited use for them.
  </p>

  <p class="callout">
    If you haven&rsquo;t bought the book (why not?), you can buy it
    <a href="http://www.apress.com/9781430250562">on the Apress website</a> or <a href="http://www.amazon.com/gp/product/1430250569/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1430250569&linkCode=as2&tag=thecodhum-20">order it on Amazon</a>.
  </p>

</div>

<div class="major-section">
  <div class="section-content">
    <a name="sourcecode"></a>
    <h2>Source Code</h2>
  </div>
</div>

<div class="container">
    <p>There are several ways to get the source code. First, APress should have the source code up on their website. It
        has been submitted so it should show up soon if it isn't already there.
    </p>

    <p>Second, you can download the source code using Git. The following should do the trick, assuming you have Git 
        installed: <span style="font-family: monospace;">git clone https://github.com/Mallioch/MobileMvcSamples.git</span>.
        You can also <a href="https://github.com/Mallioch/MobileMvcSamples">browse the code on GitHub</a>.
    </p>

    <p>Third, you can download all this code as a zip file. <a href="https://github.com/Mallioch/MobileMvcSamples">Go 
        to my GitHub page for this project</a> and click on the "Download Zip" button.</p>
    <img src="/content/source-code-zip.jpg" style="max-width: 100%;" />
</div>

<div class="major-section">
  <div class="section-content">
    <h2>Should You Buy This?</h2>
  </div>
</div>

<div class="container">
  <p>
    This book is primarily designed to help ASP.NET MVC developers develop for mobile browsers. If
    this fits you, you should find this book helpful as it covers a range of topics from Responsive
    Web Design, conditional rendering, feature detection, performance, HTML5, touch development
    and more. See the chapters below for more detail.
  </p>

  <h3>But I Use ASP.NET Webforms!</h3>

  <p>
    That is okay. Most of the material here is about client-side development, so there is a lot still
    for you.
  </p>

  <h3>But I Don&rsquo;t Use ASP.NET!</h3>

  <p>
    Then you may not want it but most of the material is about client-side development, so there is a lot
    still for you.
  </p>

  <h3>Is This a Beginner ASP.NET MVC Book?</h3>

  <p>No it is not. This assumes some small bit of familiarity with ASP.NET MVC in any version.</p>
</div>


<div class="major-section">
  <div class="section-content">
    <h2>Chapters</h2>
  </div>
</div>

<div class="container">

  <h3>Chapter 1: The Basics of Responsive Web Design</h3>

  <p>
    In this chapter I discuss the basics of Responsive Web Design, which I think is the right place
    to start when starting a new mobile website these days. This chapter is the overview, chapters
    three through five are the deep dive into the approach.
  </p>

  <p class="samples-link"><a href="/responsivebasics/index">View Sample Responsive Site</a></p>


  <h3>Chapter 2: CSS Layout Bootcamp</h3>

  <p>
    Chapter 2 is for all those developers who find layout in CSS hard unless they use tables. It's
    not so bad, once you know the rules.
  </p>

  <p class="samples-link"><a href="/csslayoutbootcamp">View Live Samples</a></p>

  <h3>Chapter 3: Flexible Layouts</h3>

  <p>
    Now that chapter 2 has equipped you to create layouts in CSS, this chapter shows you how to make
    layouts that flex and reshape based on context.
  </p>

  <p class="samples-link"><a href="/flexiblelayouts">View Live Samples</a></p>

  <h3>Chapter 4: Flexible Navigation</h3>

  <p>
    Flexible navigation is a special case of flexible layouts but is an important one. We go through
    a number of ways of solving layout problems in responsive scenarios.
  </p>

  <p class="samples-link"><a href="/flexiblenavigation">View Live Samples</a></p>

  <h3>Chapter 5: Flexible Content</h3>

  <p>
    Flexible layouts are useless if your content can&rsquo;t adapt. After all, our websites exist
    to show our content. So here we discuss having flexible text, images, tables and video.
  </p>

  <p class="samples-link"><a href="/flexiblecontent">View Live Samples</a></p>

  <h3>Chapter 6: Displays Modes, View Engines and HTML Helpers</h3>

  <p>
    In this chapter we dive into ASP.NET MVC, discussing its ways of rendering markup and
    how we can leverage those to provide the flexibility we need for mobile.
  </p>

  <p class="samples-link"><a href="/content/DisplayModesAndViewEngineSamples.zip">Download Samples</a></p>

  <h3>Chapter 7: Device and Feature Detection</h3>

  <p>
    Sometimes it is crucial to know something about the device visiting the page or its capabilities.
    Here we discuss strategies for doing this.
  </p>

  <h3>Chapter 8: Mobile performance</h3>

  <p>
    Performance is particularly important for mobile so we have a discussion of various important
    techniques for making your mobile websites perform better.
  </p>

  <h3>Chapter 9: Native APIs, HTML5 and CSS3 on Mobile Today</h3>

  <p>
    A chapter exploring what works well on mobile devices today. Despite being a bit buggy, mobile
    browsers are surpisingly capable.
  </p>

  <p class="samples-link"><a href="/leveragingnativeapis">View Live Samples</a></p>

  <h3>Chapter 10: Programming for Touch</h3>

  <p>
    One of the great things about mobile browsers is that all the modern ones have nice
    touch APIs. In this chapter I discuss the basic APIs, give a few samples and show
    how to program for the various touch programming models.
  </p>

  <p class="samples-link"><a href="/touch">View Live Samples</a></p>

  <h3>Chapter 11: Advanced Touch Programming</h3>

  <p>
    This chapter will include more samples of touch programming
    and go through more concepts around making a better touch experience.
  </p>

  <p class="samples-link"><a href="/advancedtouchprogramming">View Live Samples</a></p>

  <h3>Chapter 12: Third party libraries</h3>

  <p>
    This book is primarily about the core skills and techniques to do mobile development. But
    sometimes it's good to use a library instead of coding something yourself, so we discuss
    a number of different libraries to use when making mobile websites, what they are good
    for and in some cases the drawbacks to using them.
  </p>


  <ol>
    <li>
      Responsive Web Design
      <ol>
        <li><a href="/thirdpartylibraries/bootstrap">Bootstrap</a></li>
        <li><a href="/thirdpartylibraries/zurbfoundation">Zurb Foundation</a></li>
        <li><a href="/thirdpartylibraries/smallerlibraries/fittext">FitText</a></li>
        <li><a href="/thirdpartylibraries/smallerlibraries/flowtype">FlowType</a></li>
        <li><a href="/thirdpartylibraries/smallerlibraries/enquire">Enquire</a></li>
        <li><a href="/thirdpartylibraries/smallerlibraries/respond">Respond</a></li>
      </ol>
    </li>
    <li>
      User Interface Libraries
      <ol>
        <li><a href="/thirdpartylibraries/smallerlibraries/swipeview">Swipeview</a></li>
        <li><a href="/thirdpartylibraries/smallerlibraries/hammer">Hammer</a></li>
        <li><a href="/thirdpartylibraries/smallerlibraries/pointerpolyfill">Pointer-Event Polyfilling</a></li>
      </ol>
    </li>
    <li>
      Mobile Application Frameworks
      <ol>
        <li><a href="/thirdpartylibraries/jquerymobile">jQuery Mobile</a></li>
        <li><a href="/thirdpartylibraries/kendouimobile">Kendo UI Mobile</a></li>
        <li><a href="/thirdpartylibraries/senchatouch">Sencha Touch</a></li>
      </ol>
    </li>
  </ol>

  <h3>Errata</h3>

  <p>
    No one is perfect and books created by these imperfect people also have issues! This book is no exception.
    Many thanks to those who are willing to point out issues with the book.
  </p>

  <p class="samples-link"><a href="/home/errata">View Errata</a></p>

  <h3>Other Links</h3>

  <ol>
    <li><a href="/responsivebasics/viewportsample">Viewport sample</a></li>
    <li><a href="/responsivebasics/portraitandlandscapeexperiment">Portrait and landscape experiment</a></li>
    <li><a href="/responsivebasics/resolutionmediaquery">Resolution media query</a></li>
  </ol>

</div>


<div class="footer major-section">
  <div class="section-content">
    <p>
      This website is owned by <a href="http://ericsowell.com/">Eric Sowell</a>. For questions or comments, there
      are <a href="http://ericsowell.com/contact">a few ways to contact Eric here</a>.
    </p>
  </div>
</div>