@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CSS Layout Bootcamp - Mobile ASP.NET MVC 5 Chapter 2";
}
<div class="header major-section">
  <div class="section-content">
    <h1>CSS Layout Bootcamp</h1>
    <h2>Chapter 2</h2>
  </div>
</div>

<div class="container">

  <p>
    Chapter 2 is for all those developers who find layout in CSS hard unless they use tables. It&rsquo;s not so bad, once you know the rules.
  </p>

  <ol>
    <li><a href="/csslayoutbootcamp/withoutareset">Page without a reset.</a></li>
    <li><a href="/csslayoutbootcamp/withareset">Page with a reset.</a></li>
    <li><a href="/csslayoutbootcamp/pagewithasidebar">Page with a sidebar</a></li>
    <li><a href="/csslayoutbootcamp/pagewithasidebarwithpadding">Page with a sidebar with padding</a></li>
    <li><a href="/csslayoutbootcamp/pagewithasidebarwithgoodpadding">Page with a sidebar with good padding</a></li>
    <li><a href="/csslayoutbootcamp/pagewithasidebarwithfauxcolumns">Page with a sidebar with faux columns</a></li>
  </ol>


</div>