@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Without a reset</title>
</head>
<body>
  <h1>This is an h1 tag</h1>
  <h2>This is an h2 tag</h2>
  <p>This is a paragraph</p>
  <ul>
    <li>Unordered list item #1</li>
    <li>Unordered list item #2</li>
  </ul>
</body>
</html>
