@{
    ViewBag.Title = "AccordianNav";
    Layout = @"~/Views/Shared/_PlainLayout.cshtml";
}

<style type="text/css">

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

div, span, li {
  font-family: Helvetica;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  outline: solid 1px #000;
  overflow: auto;
}

header {
  min-height: 35px;
  padding: 15px;
}

nav {
  background-color: #000;
  clear: both;
  overflow: auto;
  padding-left: 15px;
}

li {
  border-right: solid 1px #777;
  float: left;
  list-style-type: none;
  padding: 3px 5px;
  width: 100px;
}

li a {
  color: #FFF;
  text-decoration: none;
}

#primary {
  clear: both;
  float: left;
  padding: 3%;
  width: 60.66666%;
}

#secondary {
  background-color: #EEE;
  float: left;
  padding: 3%;
  width: 27.33333%
}

#menuLink {
  color: #FFF;
  min-height: 35px;
  padding: 0 15px 0 0;
  text-align: right;
  text-decoration: none;
}

#navBottom, #menuLink {
  display: none;
}

@@media screen and (max-width: 500px) {
  h1 {
    float: left;
    font-size: 1.5em;
    margin-bottom: 15px;
    max-width: 80%;
  }

  #menuLink {
    display: block;
    float: right;
    width: 40px;
  }

  .menuBarGroup {
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 5px;
    display: block;
    overflow: auto;
    padding: 8px 8px 4px 8px;
    width: 19px;
  }

  .menuBar {
    background-color: #000;
    display: block;
    height: 3px;
    margin-bottom: 4px;
    width: 19px;
  }

  nav {
    height: 0;
    padding-left: 0;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  nav.open {
    height: auto;
    min-height: 110px;
    max-height: 150px;
  }

  li {
    border-bottom: solid 1px #555;
    float: none;
    padding: 10px 0;
    text-align: center;
    width: auto;
  }
  
  li a {
    display: block;
    height: 100%;
  }

  #primary, #secondary {
    float: none;
    width: 94%;
  }

  #primary {
    border-top: solid 2px #000 ;
  }

  #secondary {
    border-top: solid 1px #CCC;
  }
}

</style>

<div id="content">
  <header>
    <h1>Responsive Navigation</h1>
    <div id="menuLink">
      <span class="menuBarGroup">
        <span class="menuBar"></span>
        <span class="menuBar"></span>
        <span class="menuBar"></span>
      </span>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="#">First Link</a></li>
      <li><a href="#">Second Link</a></li>
      <li><a href="#">Third Link</a></li>
    </ul>
  </nav>
  <div id="primary">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt elementum ligula a sagittis. 
      Pellentesque semper erat in augue semper tristique. Aliquam at mauris et massa commodo varius. Suspendisse 
      tempor, diam quis pellentesque placerat, tellus dolor hendrerit arcu, quis luctus arcu nulla nec dui. Sed 
      accumsan dui quis massa malesuada ullamcorper. Pellentesque urna nulla, rutrum et aliquam eu, volutpat id 
      nisi. Nam non libero pulvinar magna dignissim porta. Fusce eu libero tellus, et pulvinar nulla. Suspendisse 
      porttitor placerat scelerisque. Integer rutrum orci id sapien semper ut porta dui pellentesque. In eu eros 
      quis nulla scelerisque tristique.</p>
  </div>
  <div id="secondary">
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc imperdiet 
      lacinia diam, eu semper urna facilisis vel. Vestibulum sollicitudin, elit non pretium volutpat, dui elit 
      placerat odio, id ornare libero diam luctus est. Integer magna ligula, feugiat vel dictum id, dignissim at 
      eros. Phasellus lobortis libero vel arcu gravida posuere. Nulla facilisi.</p>
  </div>
</div>

<script type="text/ecmascript">
  $(document).ready(function () {
    $('#menuLink').click(function () {
      $('nav').toggleClass('open');
    });
  });
</script>