@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Flexible Navigation - Mobile ASP.NET MVC 5 Chapter 4";
}
<div class="header major-section">
  <div class="section-content">
    <h1>Flexible Navigation</h1>
    <h2>Chapter 4</h2>
  </div>
</div>

<div class="container">

  <p>
    Flexible layouts are useless if your content can&rsquo;t adapt. After all, our websites exist
    to show our content. So here we discuss having flexible text, images, tables and video.
  </p>

  <ol>
    <li><a href="/flexiblenavigation/navmovedtobottom">Nav moved to bottom</a></li>
    <li><a href="/flexiblenavigation/navmovedtobottomnorepeatedmenu">Nav moved to bottom #2</a></li>
    <li><a href="/flexiblenavigation/navtoselect">Nav to select</a></li>
    <li><a href="/flexiblenavigation/accordiannav">Accordian Nav</a></li>
    <li><a href="/flexiblenavigation/flyoutnav">Flyout Nav</a></li>
  </ol>

</div>