@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Flexible Layouts - Mobile ASP.NET MVC 5 Chapter 3";
}
<div class="header major-section">
  <div class="section-content">
    <h1>Flexible Layouts</h1>
    <h2>Chapter 3</h2>
  </div>
</div>

<div class="container">

  <p>
    Now that chapter 2 has equipped you to create layouts in CSS, this chapter shows you how to make
    layouts that flex and reshape based on context.
  </p>

  <ol>
    <li><a href="/flexiblelayouts/threecolumnlayoutnomargin">Flexible 3-column layout with no margin (figure 1)</a></li>
    <li><a href="/flexiblelayouts/threecolumnlayoutwithsomemargin">Flexible 3-column with some margin (figure 2)</a></li>
    <li><a href="/flexiblelayouts/threecolumnresponsive">3-column responsive (figure 3)</a></li>
    <li><a href="/flexiblelayouts/threecolumnresponsivewithbordersbroken">3-column responsive with broken borders (figure 4)</a></li>
    <li><a href="/flexiblelayouts/threecolumnresponsivewithborders">3-column responsive with borders (figure 5)</a></li>
    <li><a href="/flexiblelayouts/twocolumnresponsive">2-column responsive</a></li>
    <li><a href="/flexiblelayouts/tencolumnresponsive">10-column responsive using borders</a></li>
  </ol>

</div>