@{
    ViewBag.Title = "ThreeColumnLayout";
    Layout = @"~/Views/Shared/_PlainLayout.cshtml";
}

<style type="text/css">

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

div, span, li {
  font-family: Helvetica;
}

.content {
  border: solid 1px #000;
  overflow: auto;
}

.column {
  float: left;
  width: 33.333333%;
}

</style>



<div>Page width: <span id="pageWidth"></span></div>
<br />

<div class="content">
    <div class="column">This is the first div. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt elementum ligula a sagittis. 
      Pellentesque semper erat in augue semper tristique. Aliquam at mauris et massa commodo varius. Suspendisse 
      tempor, diam quis pellentesque placerat, tellus dolor hendrerit arcu, quis luctus arcu nulla nec dui. Sed 
      accumsan dui quis massa malesuada ullamcorper.</div>
    <div class="column">This is the second div. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc imperdiet 
      lacinia diam, eu semper urna facilisis vel. Vestibulum sollicitudin, elit non pretium volutpat, dui elit 
      placerat odio, id ornare libero diam luctus est. Integer magna ligula, feugiat vel dictum id, dignissim at 
      eros.</div>
    <div class="column">This is the third div. Pellentesque urna nulla, rutrum et aliquam eu, volutpat id 
      nisi. Nam non libero pulvinar magna dignissim porta. Fusce eu libero tellus, et pulvinar nulla. Suspendisse 
      porttitor placerat scelerisque. Integer rutrum orci id sapien semper ut porta dui pellentesque. In eu eros 
      quis nulla scelerisque tristique.</div>
</div>







<script type="text/javascript">

    window.onload = function () {

        var pageWidth = document.getElementById('pageWidth');
        //console.log(window.innerWidth);
        pageWidth.innerHTML = window.innerWidth || document.body.clientWidth;

        window.addEventListener('resize', function () {
            pageWidth.innerHTML = window.innerWidth;
        });
    }

</script>
