@{
    ViewBag.Title = "Index";
}
<!DOCTYPE HTML>
<html manifest="" lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>MyApp</title>
</head>
<body>
  <h1>Sencha Touch</h1>
  <p>I'm sorry, but due to annoyances in getting Sencha Touch applications to work within the
    context of another website (this one) without changing the load paths of things, there is
    no live demo. However, if you get the source code, you can create an IIS website to host
    the stuff at \content\third-party-libraries\sencha-touch and view a live demo on your
    computer.
  </p>
</body>
</html>
