@{
  Layout = "";
}
<!DOCTYPE html>
<html>
<head>
  <title>A Responsive APress</title>
  <meta name="viewport" content="width=device-width" />

  <style>
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p, a {
  font-size: .95em;
  line-height: 1.5em;
}

a {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #990000;
  text-decoration: underline;
}

h2 {
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

body {
  background-color: #555;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 75%;
}

.header {
  background-color: #000;
  background: url(/content/responsivebasics/header.png) no-repeat right top,
    -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #333), color-stop(1.00, #000));
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 0 20px 20px 20px;
  padding: 15px 0 5px 0;
}

.header h1 {
  text-indent: -9000px;
}

.header h2 {
  text-indent: -9000px;
}

.header img {
   max-width: 95%;
}

.nav {
  border-top: solid 1px #333;
  margin: 20px 0 20px 0;
  padding-top: 10px;
  overflow: hidden;
}

.nav li {
  float: left;
  margin-left: 17px;
}

.nav a {
  color: #e3e3e3;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: solid 1px #F00;
  color: #fff;
}

.page {
  background-color: #FFF;
  -webkit-box-shadow: #000 0 0 30px;
  box-shadow: #000 0 0 30px;
  margin: 0 auto;
  padding-top: 10px;
  max-width: 960px;
}

.featured-book {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(227,227,227)), color-stop(0.36, rgb(255,255,255)));
  background-image: -moz-linear-gradient(center bottom, rgb(227,227,227) 0%, rgb(255,255,255) 36%);
  background-image: -ms-linear-gradient(center bottom, rgb(227,227,227) 0%, rgb(255,255,255) 36%);
  background-image: linear-gradient(center bottom, rgb(227,227,227) 0%, rgb(255,255,255) 36%);
  border-radius: 7px;
  margin: 0 auto 20px auto;
  overflow: auto;
  width: 96%;
}    

.featured-book .description {
  float: left;
  font-size: 1.2em;
  line-height: 2em;
  margin: 0 2%;
  width: 60%;
}

.featured-book img {
  float: right;
  margin-right: 20px;
}

.featured-book .learn-more {
  clear: both;
  margin: 10px 10px;
}

.our-categories {
  float: left;
  padding: 0 2%;
  width: 16%;
}

.our-categories ol {
  margin-top: 15px;
}

.our-categories li {
  margin: 5px 0;
}

.our-categories a {
  font-size: .9em;
}

.products {
  float: left;
  padding: 0 3%;
  width: 49%;
}

.product-item {
  border-bottom: solid 1px #EEE;
  float: left;
  margin: 0 0 20px 0;
  padding: 2%;
  width: 46%;
}

.product-item:nth-child(odd) {
  clear: both;
}

.product-item .product-name {
  margin-bottom: 10px;
  font-weight: bold;
}

.product-item .product-image {
  float: left;
  margin-right: 8px;
}

.secondary {
  float: left;
  width: 25%;
  /*width: 240px;*/
}

.secondary-item, .secondary-item-light {
  background-color: rgb(102,102,102);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.80, rgb(51,51,51)), color-stop(0.99, rgb(102,102,102)));
  background-image: -moz-linear-gradient(center bottom, rgb(51,51,51) 60%, rgb(102,102,102) 99%);
  background-image: -ms-linear-gradient(center bottom, rgb(51,51,51) 60%, rgb(102,102,102) 99%);
  background-image: linear-gradient(center bottom, rgb(51,51,51) 60%, rgb(102,102,102) 99%);
  -webkit-border-radius: 4px;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 15px 4% 20px 4%;
  width: 84%;
}

.secondary-item h2 {
  color: #ffcc00;
  margin: 10px 0;
}

.secondary-item p {
  color: #e3e3e3;
}

.secondary-item .more {
  margin-top: 15px;
  text-align: right;
}

.secondary-item .more a {
  color: #88CCCC;
}

.secondary-item-light {
  background-color: #AAA;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.6, rgb(227,227,227)), color-stop(0.8, rgb(244,244,244)));
  background-image: -moz-linear-gradient(center bottom, rgb(227,227,227) 60%, rgb(244,244,244) 80%);
  background-image: -ms-linear-gradient(center bottom, rgb(227,227,227) 60%, rgb(244,244,244) 80%);
  background-image: linear-gradient(center bottom, rgb(227,227,227) 60%, rgb(244,244,244) 80%);      
}

.secondary-item-light h2 {
  color: #000;
}

.secondary-item-light p {
  color: #000;
  margin: 10px 0;
}

.secondary-item-light .more a {
  background-color: #ffcc00;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: #000;
  font-weight: bold;
  padding: 5px;
}
    
.secondary-item-light .more a:hover {
  background-color: #cc9900;
}
    
.footer {
  background: url(/content/responsivebasics/footer_bg.jpg) no-repeat center top;
  clear: both;
  color: #FFF;
  margin: 0 auto 0 auto;
  padding-top: 180px;
  padding-bottom: 30px;
  max-width: 954px;
  text-align: center;
}

.footer > ul {
  margin: 15px 0 0 0;
  overflow: hidden;
}

.footer > ul > li {
  color: #FFF;
  float: left;
  line-height: 20px;
  width: 23%;
  /*width: 238px;*/
}

@@media screen and (max-width: 800px) {
  .our-categories {
    float: none;
    overflow: auto;
    padding: 10px 2% 30px 2%;
    width: 94%;
  }

  .our-categories li {
    float: left;
    width: 25%;
  }

  .products {
    clear: left;
    padding: 0 2%;
    width: 62.666666%;
  }

  .secondary {
    width: 33.333333%;
  }
}

@@media screen and (max-width: 600px) {
  .featured-book .description {
    float: none;
    width: 96%;
  }

  .featured-book img {
    float: none;
  }

  .our-categories li {
    width: 50%;
  }
      
  .products {
    float: none;
    width: 96%;
  }

  .product-item {
    border-bottom: none;
    border-top: solid 1px #EEE;
    float: none;
    width: 90%;
  }

  .secondary {
    width: 100%;
  }

  .secondary-item, .secondary-item-light {
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 20px 0;
    width: 92%;
  }

  .footer > ul > li {
    float: none;
    margin: 20px 0;
    width: 100%;
  }

  .footer {
    background-image: none;
    background: #AAA;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.6, rgb(150, 150, 150)), color-stop(0.8, rgb(100, 100, 100)));
    background-image: -moz-linear-gradient(center bottom, rgb(150, 150, 150) 60%, rgb(100, 100, 100) 80%);
    background-image: -ms-linear-gradient(center bottom,  rgb(150, 150, 150) 60%, rgb(100, 100, 100) 80%);
    background-image: linear-gradient(center bottom,      rgb(150, 150, 150) 60%, rgb(100, 100, 100) 80%);      
    padding: 20px 0 0 0;
  }      
}

@@media screen and (max-width: 400px) {
  /*Some css*/
}

@@media screen and (max-width: 500px) {
  /*Some css*/
}


@@media screen and (max-width: 425px) {
  .page {
    padding: 0;
  }

  .header {
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
  }

  .nav {
    border: none;
    margin: 0;
  }

  .nav li {
    border-top: solid 1px #333;
    float: none;
    margin: 0;
    padding: 12px 0;
    text-align: center;
  }

  .featured-book {
    margin-top: 10px;
  }      
}

  </style>
</head>
<body>
  <div class="page">
    <div class="header">
      <h1>apress</h1>
      <img src="/content/responsivebasics/apress-logo.gif" alt="Apress logo" />
      <h2>For professionals by professionals</h2>

      <ul class="nav">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/">Alpha Program</a></li>
        <li class="nav-item"><a href="/">About Apress</a></li>
        <li class="nav-item"><a href="/">Support</a></li>
      </ul>

    </div>

    <div class="main-content">

      <div class="featured-book">
        <p class="description">Have you got an idea for a great mobile site, or an existing site that you want to adapt for 
          mobile? With Mobile ASP.NET MVC 5, learn to overcome the challenges presented by the wide range of mobile devices 
          out there today, and give your users content designed to work for them and make the most of their devices&rsquo; 
          capabilities.</p>
        <img src="/content/responsivebasics/my-book-cover.png" />
        <p class="learn-more"><a href="http://www.apress.com/9781430250562">Learn More</a></p>
      </div>
      
      <div class="our-categories">
        <h2>Our Categories</h2>
        <ol>
          <li><a href="http://www.apress.com/apple-mac">Apple/Mac</a></li>
          <li><a href="http://www.apress.com/at-work">At Work</a></li>
          <li><a href="http://www.apress.com/business">Business</a></li>
          <li><a href="http://www.apress.com/ca-press">CA Press</a></li>
          <li><a href="http://www.apress.com/databases">Databases</a></li>
          <li><a href="http://www.apress.com/game-programming">Game Programming</a></li>
          <li><a href="http://www.apress.com/google">Google</a></li>
          <li><a href="http://www.apress.com/graphics">Graphics</a></li>
          <li><a href="http://www.apress.com/html5">HTML5</a></li>
          <li><a href="http://www.apress.com/it">IT</a></li>
          <li><a href="http://www.apress.com/java">Java</a></li>
          <li><a href="http://www.apress.com/media-books">Media</a></li>
          <li><a href="http://www.apress.com/microsoft">Microsoft</a></li>
          <li><a href="http://www.apress.com/mobile">Mobile</a></li>
          <li><a href="http://www.apress.com/networking">Networking</a></li>
          <li><a href="http://www.apress.com/office">Office</a></li>
          <li><a href="http://www.apress.com/open-source">Open Source</a></li>
          <li><a href="http://www.apress.com/oracle">Oracle</a></li>
          <li><a href="http://www.apress.com/other-topics">Other Topics</a></li>
          <li><a href="http://www.apress.com/programming">Programming</a></li>
          <li><a href="http://www.apress.com/robots-and-electronics">Robots and Electronics</a></li>
          <li><a href="http://www.apress.com/servers">Servers</a></li>
          <li><a href="http://www.apress.com/springer">Springer</a></li>
          <li><a href="http://www.apress.com/user-guides">User Guides</a></li>
          <li><a href="http://www.apress.com/web-development">Web Development</a></li>
          <li><a href="http://www.apress.com/windows-8">Windows 8</a></li>
          <li><a href="http://www.apress.com/winrt">WinRT</a></li>
          <li><a href="http://www.apress.com/xaml">XAML</a></li>
        </ol>
      </div>

      <div class="products">

        <ul>
          <li class="product-item">
            <p class="product-name"><a href="http://www.apress.com/9781430243984" title="Pro Windows 8 Apps for Business in XAML">Pro Windows 8 Apps for Business in XAML</a></p>
            <a class="product-image" href="http://www.apress.com/9781430243984"><img class="product-image" src="/content/responsivebasics/windows-8-apps.png" alt="Pro Windows 8 Apps for Business in XAML" /></a>
            <p><em>Pro Windows 8 Apps for Business in XAML</em> is a book that focuses on creating compelling business applications in the new Windows 8 Metro environment, WinRT.&nbsp;Microsoft&#146;s Windows 8 operating system represents a major shift in the way applications will be designed and interacted with, and&nbsp;this book will keep you ahead of the curve.</p>
            <div class="actions">
              <p>
                <a href="http://www.apress.com/9781430243984" title="Pro Windows 8 Apps for Business in XAML">Learn More</a> |
                <a href="https://www.apress.com/wishlist/index/add/product/5760/">Add to Wishlist</a>
              </p>
              <p>Browse other <a href="http://www.apress.com/microsoft/c">C#</a> titles</p>
            </div>
          </li>

          <li class="product-item">
            <p class="product-name"><a href="http://www.apress.com/9781430249443" title="Dashboards for Excel">Dashboards for Excel</a></p>
            <a class="product-image" href="http://www.apress.com/9781430249443"><img class="product-image" src="/content/responsivebasics/dashboards-for-excel.png" alt="Dashboards for Excel" /></a>

            <p><em>Dashboards for Excel </em>is your key to creating informative, vibrant and and interactive dashboards using a hands-on approach based on real-world experience.</p>
            <div class="actions">
              <p>
                <a href="http://www.apress.com/9781430249443" title="Dashboards for Excel">Learn More</a> |
                <a href="https://www.apress.com/wishlist/index/add/product/7333/">Add to Wishlist</a>
              </p>
              <p>Browse other <a href="http://www.apress.com/office/office">Office</a> titles</p>
          </li>

          <li class="product-item">
            <p class="product-name"><a href="http://www.apress.com/9781430259626" title="Pro SQL Server Internals">Pro SQL Server Internals</a></p>
            <a class="product-image" href="http://www.apress.com/9781430259626"><img class="product-image" src="/content/responsivebasics/sql-server-internals.png" alt="Office Automation 2.0" /></a>
            <p>Pro SQL Server Internals explains how SQL Server works focusing on how internal implementation affects your database operations. </p>

            <div class="actions">
              <p>
                <a href="http://www.apress.com/9781430245308" title="Pro SQL Server Internals">Learn More</a> |
                <a href="https://www.apress.com/wishlist/index/add/product/12181/">Add to Wishlist</a>
              </p>
              <p>Browse other <a href="http://www.apress.com/databases/database-administration">Business</a> titles</p>
            </div>
          </li>


          <li class="product-item">
            <p class="product-name"><a href="http://www.apress.com/9781430243533" title="Pro ASP.NET 4.5 in VB">Pro ASP.NET 4.5 in VB</a></p>
            <a class="product-image" href="http://www.apress.com/9781430243533"><img class="product-image" src="/content/responsivebasics/pro-asp-net.png" alt="Pro ASP.NET 4.5 in VB" /></a>

            <p>ASP.NET 4.5 is the principal standard for creating dynamic web pages on the Windows platform. Pro ASP.NET 4.5 in VB raises the bar for high-quality, practical advice on learning and deploying Microsoft's dynamic web solution.</p>
            <div class="actions">

              <p>
                <a href="http://www.apress.com/9781430243533" title="Pro ASP.NET 4.5 in VB">Learn More</a> |
                <a href="https://www.apress.com/wishlist/index/add/product/5805/">Add to Wishlist</a>
              </p>
              <p>Browse other <a href="http://www.apress.com/microsoft/c">C#</a> titles</p>
            </div>
          </li>
        </ul>

      </div>


      <div class="secondary">

        <div class="secondary-item-light">
          <h2>Companion eBooks</h2>
          <p>Why limit yourself to one format? If you’ve purchased the print edition of most Apress titles then we&rsquo;re happy to offer you the eBook edition for just $10.</p> 
	
  			  <p class="more"><a href="http://www.apress.com/companion/customer/view/">Buy a Companion eBook</a></p>						
        </div>

        <div class="secondary-item">
   
          <h2>User Group Program</h2>
          <p>Register your user group with Apress to take advantage of discounts on books, receive review copies, door prizes, and much, much more&hellip;</p> 
	
          <p class="more"><a href="http://www.apress.com/gcalendar/">Learn More</a></p> 
        </div>

        <div class="secondary-item">
          <h2>Academic Resources</h2>
          <p>Let Apress assist in the development of your academic programs and coursework.</p>
          <p class="more"><a href="/academicrequest">Learn More</a></p>
        </div>

        <div class="secondary-item">
          <h2>Bulk Sales Discount</h2>
          <p>Bulk discounts apply when you buy ten or more copies of individual Apress or Friends of ED titles in either hard copy or eBook format.</p>
          <p class="more"><a href="/corporate-sales">Learn More</a></p>
        </div>

      </div>




    </div> <!-- main-content -->

    <div class="footer">
      <h2>Quick Links</h2>
      <ul>
	      <li>Interact with Us
		      <ul>
			      <li><a href="#">Contact Us</a></li>
			      <li><a href="#">Customer Support</a></li>
			      <li><a href="#">User Groups</a></li>
			      <li><a href="#">Write For Us</a></li>
		      </ul>
	      </li>
	      <li>Company Information
		      <ul>
			      <li><a href="#">About Us</a></li>
			      <li><a href="#">Press Room</a></li>
		      </ul>
	      </li>
        <li>Trade Resources
	        <ul>
			      <li><a href="#">Sales and Distribution</a></li>
	        </ul>
        </li>
        <li>Legal
          <ul>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- footer -->
  </div><!-- page -->
</body>
</html>
