<body>
  <div class="page">
    <div class="header">
      <h1>apress</h1>
      <h2>For professionals by professionals</h2>

      <ul class="nav">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/">Alpha Program</a></li>
        <li class="nav-item"><a href="/">Springer</a></li>
        <li class="nav-item"><a href="/">Source Code</a></li>
        <li class="nav-item"><a href="/">About Apress</a></li>
        <li class="nav-item"><a href="/">Support</a></li>
        <li class="nav-item"><a href="/">Interact with Apress</a></li>
      </ul>

      <div class="search-box">
        <input placeholder="Search apress.com..." />
        <button>Go</button>
      </div>

    </div>

    <div class="main-content">
      
      <div class="our-catgories">
        <ol>
          <li><a href="http://www.apress.com/apple-mac">Apple/Mac</a></li>
          <li><a href="http://www.apress.com/at-work">At Work</a></li>
          <li><a href="http://www.apress.com/business">Business</a></li>
          <li><a href="http://www.apress.com/ca-press">CA Press</a></li>
          <li><a href="http://www.apress.com/databases">Databases</a></li>
          <li><a href="http://www.apress.com/game-programming">Game Programming</a></li>
          <li><a href="http://www.apress.com/google">Google</a></li>
          <li><a href="http://www.apress.com/graphics">Graphics</a></li>
          <li><a href="http://www.apress.com/html5">HTML5</a></li>
          <li><a href="http://www.apress.com/it">IT</a></li>
          <li><a href="http://www.apress.com/java">Java</a></li>
          <li><a href="http://www.apress.com/media-books">Media</a></li>
          <li><a href="http://www.apress.com/microsoft">Microsoft</a></li>
          <li><a href="http://www.apress.com/mobile">Mobile</a></li>
          <li><a href="http://www.apress.com/networking">Networking</a></li>
          <li><a href="http://www.apress.com/office">Office</a></li>
          <li><a href="http://www.apress.com/open-source">Open Source</a></li>
          <li><a href="http://www.apress.com/oracle">Oracle</a></li>
          <li><a href="http://www.apress.com/other-topics">Other Topics</a></li>
          <li><a href="http://www.apress.com/programming">Programming</a></li>
          <li><a href="http://www.apress.com/robots-and-electronics">Robots and Electronics</a></li>
          <li><a href="http://www.apress.com/servers">Servers</a></li>
          <li><a href="http://www.apress.com/springer">Springer</a></li>
          <li><a href="http://www.apress.com/user-guides">User Guides</a></li>
          <li><a href="http://www.apress.com/web-development">Web Development</a></li>
          <li><a href="http://www.apress.com/windows-8">Windows 8</a></li>
          <li><a href="http://www.apress.com/winrt">WinRT</a></li>
          <li><a href="http://www.apress.com/xaml">XAML</a></li>
        </ol>
      </div>

      <div class="products">

        <ul>
          <li class="product-item">
            <p class="product-name"><a href="http://www.apress.com/9781430243984" title="Pro Windows 8 Apps for Business in XAML)">Pro Windows 8 Apps for Business in XAML</a></p>
            <a class="product-image" href="http://www.apress.com/9781430243984"><img class="product-image" src="http://www.apress.com/media/catalog/product/cache/9/small_image/80x/040ec09b1e35df139433887a97daa66f/A/9/A9781430243984-small_1.png" alt="Pro Windows 8 Apps for Business in XAML" /></a>
            <p><em>Pro Windows 8 Apps for Business in XAML</em> is a book that focuses on creating compelling business applications in the new Windows 8 Metro environment, WinRT.&nbsp;Microsoft&#146;s Windows 8 operating system represents a major shift in the way applications will be designed and interacted with, and&nbsp;this book will keep you ahead of the curve.</p>
            <div class="actions">  
              <p><a href="http://www.apress.com/9781430243984" title="Pro Windows 8 Apps for Business in XAML)">Learn More</a> |
                <a href="https://www.apress.com/wishlist/index/add/product/5760/">Add to Wishlist</a>
              </p>
              <p>Browse other <a href="http://www.apress.com/microsoft/c">C#</a> titles</p>
            </div>
          </li>
                
          <li class="product-item">
            <p class="product-name"><a href="http://www.apress.com/9781430249443" title="Dashboards for Excel)">Dashboards for Excel</a></p>
            <a class="product-image" href="http://www.apress.com/9781430249443"><img class="product-image" src="http://www.apress.com/media/catalog/product/cache/9/small_image/80x/040ec09b1e35df139433887a97daa66f/A/9/A9781430249443-small.png" alt="Dashboards for Excel" /></a>
                 
            <p><em>Dashboards for Excel </em>is your key to creating informative, vibrant and and interactive dashboards using a hands-on approach based on real-world experience.</p>
            <div class="actions">
              <p><a href="http://www.apress.com/9781430249443" title="Dashboards for Excel)">Learn More</a> |
                <a href="https://www.apress.com/wishlist/index/add/product/7333/">Add to Wishlist</a>
              </p>
              <p>Browse other <a href="http://www.apress.com/office/office">Office</a> titles</p>
            </div>
          </li>
                

          <li class="product-item">
            <p class="product-name"><a href="http://www.apress.com/9781430245308" title="Office Automation 2.0)">Office Automation 2.0</a></p>
            <a class="product-image" href="http://www.apress.com/9781430245308"><img class="product-image" src="http://www.apress.com/media/catalog/product/cache/9/small_image/80x/040ec09b1e35df139433887a97daa66f/A/9/A9781430245308-small.png" alt="Office Automation 2.0" /></a>
                 
            <em>Office Automation 2.0</em> is the essential guide for office automation as businesses enter the post-PC era, assessing such technologies as virtual desktop infrastructure, mobile clients, and cloud services in terms of their practical applications to streamlining workload in today&#146;s do-more-with-less office.                      <div class="actions">  
            <p> <a href="http://www.apress.com/9781430245308" title="Office Automation 2.0)">Learn More</a> |
            <a href="https://www.apress.com/wishlist/index/add/product/5820/">Add to Wishlist</a></p>
            <p>Browse other <a href="http://www.apress.com/it/business">Business</a> titles</p></div>
          </li>
                

          <li class="product-item">
            <p class="product-name"><a href="http://www.apress.com/9781430243533" title="Pro ASP.NET 4.5 in VB)">Pro ASP.NET 4.5 in VB</a></p>
            <a class="product-image" href="http://www.apress.com/9781430243533"><img class="product-image" src="http://www.apress.com/media/catalog/product/cache/9/small_image/80x/040ec09b1e35df139433887a97daa66f/A/9/A9781430243533-small_2.png" alt="Pro ASP.NET 4.5 in VB" /></a>
                 
            ASP.NET 4.5 is the principal standard for creating dynamic web pages on the Windows platform. Pro ASP.NET 4.5 in VB raises the bar for high-quality, practical advice on learning and deploying Microsoft's dynamic web solution.                      <div class="actions">  
            <p> <a href="http://www.apress.com/9781430243533" title="Pro ASP.NET 4.5 in VB)">Learn More</a> |
            <a href="https://www.apress.com/wishlist/index/add/product/5805/">Add to Wishlist</a></p>
            <p>Browse other <a href="http://www.apress.com/microsoft/c">C#</a> titles</p></div>
          </li>
        </ul>

      </div>


      <div>
        <div class="block">
   
        <h2>Companion eBooks</h2>
  <p>Why limit yourself to one format? If you’ve purchased the print edition of most Apress titles then we&rsquo;re happy to offer you the eBook edition for just $10.</p> 
	
<!--		 <li><a href="">About Promotions</a></li> -->
			<p class="centred"><a href="http://www.apress.com/companion/customer/view/" class="medium yellow button">Buy a Companion eBook</a></p>						
		
</div>

<div class="block block-ug interact">
   
        <h2>User Group Program</h2>
  <p>Register your user group with Apress to take advantage of discounts on books, receive review copies, door prizes, and much, much more&hellip;</p> 
	
<p class="more"><a href="http://www.apress.com/gcalendar/">Learn More</a></p> 
</div>
<div class="block block-subscribe interact">
 
        <h2 class="icon">Newsletter<a name="newsletter-box"></a></h2>
		   <p>Subscribe to our newsletter and receive updates on all that&rsquo;s happening with Apress. </p>
    <form action="http://www.apress.com/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
        <fieldset class="block-content">
                              
            <div class="input-box">
               <input name="email" type="text" id="newsletter" class="input-text required-entry validate-email" onfocus="if(this.value == 'Your email address &hellip;') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Your email address &hellip;'; }" value="Your email address &hellip;"/>
            </div>
	<input class="medium button gray" name="submit" type="submit" value="Subscribe" />
         
        </fieldset>
    </form>
<script type="text/javascript">
  //<![CDATA[
  var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
  //]]>
</script>
</div>
<div class="block block-ac interact">
<h2>Academic Resources</h2>
<p>Let Apress assist in the development of your academic programs and coursework.</p>
<p class="more"><a href="/academicrequest">Learn More</a></p>
</div><div class="block block-ug interact">
<h2>Bulk Sales Discount</h2>
<p>Bulk discounts apply when you buy ten or more copies of individual Apress or Friends of ED titles in either hard copy or eBook format.</p>
<p class="more"><a href="/corporate-sales">Learn More</a></p>
</div></div>
      </div>




    </div> <!-- main-content -->

    <div class="footer">
      <p>&copy; 2012, Eric Sowell</p>
    </div>
  </div><!-- page -->
</body>
