<!DOCTYPE html>
<html>
  <head>
    <title>Viewport Sample</title>

  </head>
  <body>
    <div>
      <div style="width: 30%; float: left;">Sidebar</div>
      <div style="width: 70%; float: left;">
        <h2>Viewport Meta Tag Sample</h2>
        <p>This is a sample page for testing the viewport meta tag.</p>
      </div>
    </div>
  </body>
</html>


