@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompoundingEms</title>
</head>
<body>
  <div>
    <p style="font-size: 1.2em;">This is a paragraph</p>

    <div style="font-size: 1.2em;">
      <p style="font-size: 1.2em;">This paragraph is nested.</p>
    </div>
  </div>
</body>
</html>
