@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DefaultTextSize</title>
</head>
<body>
<h1>Font size not set (h1)</h1>
<h1 style="font-size: 32px;">Font size set to 32px</h1>

<h2>Font size not set (h2)</h2>
<h2 style="font-size: 24px;">Font size set to 24px</h2>

<h3>Font size not set (h3)</h3>
<h3 style="font-size: 19px;">Font size set to 19px</h3>

<h4>Font size not set (h4)</h4>
<h4 style="font-size: 16px;">Font size set to 16px</h4>

<h5>Font size not set (h5)</h5>
<h5 style="font-size: 13px;">Font size set to 13px</h5>

<p>Font size not set. (p)</p>
<p style="font-size: 16px;">Font size set to 16px.</p>


</body>
</html>
