@{
  Layout = @"~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Flexible Content - Mobile ASP.NET MVC 5 Chapter 5";
}

<div class="header major-section">
  <div class="section-content">
    <h1>Flexible Content</h1>
    <h2>Chapter 5</h2>
  </div>
</div>

<div class="container">

  <p>
    Flexible layouts are useless if your content can&rsquo;t adapt. After all, our websites exist
    to show our content. So here we discuss having flexible text, images, tables and video.
  </p>

  <h3>Flexible text</h3>

  <ol>
    <li><a href="/flexiblecontent/defaulttextsize">Default text size</a></li>
    <li><a href="/flexiblecontent/longrunningtextwithnochanges">Long running text with no changes</a></li>
    <li><a href="/flexiblecontent/compoundingems">Compounding ems</a></li>
    <li><a href="/flexiblecontent/text">Flexible text with media queries</a></li>
    <li><a href="/flexiblecontent/textleveragingbody">Flexible text - leveraging body size</a></li>
    <li><a href="/flexiblecontent/textleveragingrem">Flexible text - using rem</a></li>
    <li><a href="/flexiblecontent/fittext">Flexible text - FitText</a></li>
  </ol>

  <h3>Flexible Images</h3>
  <ol>
    <li><a href="/flexiblecontent/imagecontrolwithcss">Image control with CSS</a></li>
    <li><a href="/flexiblecontent/highresolutionimages">High Resolution Background Images</a></li>
    <li><a href="/flexiblecontent/picturefill">Image control with PictureFill</a></li>
  </ol>

  <h3>Flexible tables</h3>
  <ol>
    <li><a href="/flexiblecontent/table">Table</a></li>
    <li><a href="/flexiblecontent/scrollingtable">Scrolling Table</a></li>
    <li><a href="/flexiblecontent/tabledetablified">Table Detablified</a></li>
    <li><a href="/flexiblecontent/tabledetablified2">Table Detablified #2</a></li>
    <li><a href="/flexiblecontent/tabledetablified3">Table Detablified #3</a></li>
    <li><a href="/flexiblecontent/tabledetablified4">Table Detablified #4</a></li>
    <li><a href="/flexiblecontent/tablewithzurbresponsivetables">Table with Zurb Responsive Tables</a></li>
    <li><a href="/flexiblecontent/footable">Footable</a></li>
  </ol>

  <h3>Flexible Video</h3>
  <ol>
    <li><a href="/flexiblecontent/video">Video</a></li>
    <li><a href="/flexiblecontent/responsivevideo">Responsive Video</a></li>
    <li><a href="/flexiblecontent/videoembedding">Basic Video Embedding</a></li>
    <li><a href="/flexiblecontent/responsiveembedding">Responsive Embedding</a></li>
    <li><a href="/flexiblecontent/scriptedembeddedvideoresize">Scripted Embedded Video Resize</a></li>
  </ol>
</div>
