@{
    Layout = @"~/Views/Shared/_ChapterContentsLayout.cshtml";
    ViewBag.Title = "Flexible Content - Mobile ASP.NET MVC 5 Chapter 5";
}
  <h1>Chapter 5</h1>

  <p>Flexible layouts are useless if your content can&rsquo;t adapt. After all, our websites exist
    to show our content. So here we discuss having flexible text, images, tables and video.
  </p>

  <ol>
    <li>Flexible text
      <ol>
        <li><a href="/flexiblecontent/defaulttextsize">Default text size</a></li>
        <li><a href="/flexiblecontent/longrunningtextwithnochanges">Long running text with no changes</a></li>
        <li><a href="/flexiblecontent/compoundingems">Compounding ems</a></li>
        <li><a href="/flexiblecontent/text">Flexible text with media queries</a></li>
        <li><a href="/flexiblecontent/textleveragingbody">Flexible text - leveraging body size</a></li>
        <li><a href="/flexiblecontent/textleveragingrem">Flexible text - using rem</a></li>
        <li><a href="/flexiblecontent/fittext">Flexible text - FitText</a></li>
      </ol>
    </li>
    <li>Flexible Images
      <ol>
        <li><a href="/flexiblecontent/imagecontrolwithcss">Image control with CSS</a></li>
        <li><a href="/flexiblecontent/highresolutionimages">High Resolution Background Images</a></li>
        <li><a href="/flexiblecontent/picturefill">Image control with PictureFill</a></li>
      </ol>
    </li>
    <li>Flexible tables
      <ol>
        <li><a href="/flexiblecontent/table">Table</a></li>
        <li><a href="/flexiblecontent/scrollingtable">Scrolling Table</a></li>
        <li><a href="/flexiblecontent/tabledetablified">Table Detablified</a></li>
        <li><a href="/flexiblecontent/tabledetablified2">Table Detablified #2</a></li>
        <li><a href="/flexiblecontent/tabledetablified3">Table Detablified #3</a></li>
        <li><a href="/flexiblecontent/tabledetablified4">Table Detablified #4</a></li>
        <li><a href="/flexiblecontent/tablewithzurbresponsivetables">Table with Zurb Responsive Tables</a></li>
        <li><a href="/flexiblecontent/footable">Footable</a></li>
      </ol>
    </li>
    <li>Flexible Video
      <ol>
        <li><a href="/flexiblecontent/video">Video</a></li>
        <li><a href="/flexiblecontent/responsivevideo">Responsive Video</a></li>
        <li><a href="/flexiblecontent/videoembedding">Basic Video Embedding</a></li>
        <li><a href="/flexiblecontent/responsiveembedding">Responsive Embedding</a></li>
        <li><a href="/flexiblecontent/scriptedembeddedvideoresize">Scripted Embedded Video Resize</a></li>
      </ol>
    </li>
  </ol>

</body>
</html>
