@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Long Running Text to Test Line Height</title>

  <style>
    h2 {
      margin-top: 25px;
    }
  </style>
</head>
<body>
  <h1>Long Running Text to Test Line Height</h1>

  <p>The following sections each have two paragraphs super-imposed on each other. The purpose of this is to
    test default line height. See each section for details.
  </p>

  <h2>Line Height: 1.34em/21.44px</h2>

  <p><strong>Browsers:</strong> If you are using Windows Phone 7 or 8, this is probably the line-height that lines
    up for you.
  </p>

  <div style="position: relative;">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui.</p>

  <p style="line-height: 1.34em; position: absolute; top: -17px; color: red;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui.</p>
  </div>

  <h2>Line Height: 1.3em/20.8px</h2>

  <p><strong>Browsers:</strong> If you are using iOS, this line height probably works for you.
  </p>

  <div style="position: relative;">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui.</p>

  <p style="line-height: 1.3em; position: absolute; top: -17px; color: red;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui.</p>
  </div>

  <h2>Line Height: 1.2em/19.2px</h2>

  <p><strong>Browsers:</strong> If you are using Android, Firefox OS or Opera, this is probably the 
    line-height that lines up for you.
  </p>

  <div style="position: relative;">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui.</p>

  <p style="line-height: 1.2em; position: absolute; top: -17px; color: red;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui.</p>
  </div>

  <h2>Line Height: 1.15em/18.4px</h2>

  <p><strong>Browsers:</strong> If you are using Desktop IE, this is probably the 
    line-height that lines up for you.
  </p>

  <div style="position: relative;">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui.</p>

  <p style="line-height: 1.15em; position: absolute; top: -17px; color: red;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui.</p>
  </div>


</body>
</html>
