@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LongRunningTextWithNoChanges</title>
</head>
<body>
  <h1>Lorem ipsum dolor sit amet</h1>

  <div style="position: relative;">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui. Etiam non elit orci, ac imperdiet eros. Phasellus sit 
    amet metus eu lacus rutrum congue in ac urna. Cum sociis natoque penatibus et magnis dis parturient 
    montes, nascetur ridiculus mus. Quisque justo dolor, sagittis a tristique quis, laoreet nec urna. Cras 
    fermentum odio dui, a sagittis urna. Suspendisse ut augue metus, sed adipiscing ante.</p>

  <p style="line-height: 1.4em; position: absolute; top: -17px; color: red;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo eros, nec mollis risus. 
    Quisque et odio vulputate libero aliquam cursus. Vestibulum at urna nec lorem eleifend elementum eget 
    nec nunc. Duis varius odio et nulla accumsan vel vulputate magna blandit. Integer ligula mi, 
    adipiscing in luctus sagittis, bibendum ac nulla. Aenean bibendum luctus ornare. Integer cursus ornare 
    lectus, et pharetra eros rutrum quis. Pellentesque nec orci ut nibh tempor hendrerit. In eros elit, 
    faucibus vel cursus sit amet, dignissim sed dui. Etiam non elit orci, ac imperdiet eros. Phasellus sit 
    amet metus eu lacus rutrum congue in ac urna. Cum sociis natoque penatibus et magnis dis parturient 
    montes, nascetur ridiculus mus. Quisque justo dolor, sagittis a tristique quis, laoreet nec urna. Cras 
    fermentum odio dui, a sagittis urna. Suspendisse ut augue metus, sed adipiscing ante.</p>
  </div>
</body>
</html>
