@{
    ViewBag.Title = "ResponsiveVideo";
}

<style>
    video {
      width: 600px;
      max-width: 100%;
    }
</style>

<h2>Responsive Video</h2>

<video controls>
    <source src="/content/video/sample-video.mp4" type="video/mp4" />
    <source src="/content/video/sample-video.ogg" type="video/ogg" />
</video>