@{
    ViewBag.Title = "ResponsiveVideo";
}

<style>
    video {
      max-width: 100%;
    }
</style>

<h2>Video</h2>

<video controls src="/content/video/sample-video.webm">
    <source src="/content/video/sample-video.mp4" type="video/mp4" />
    <source src="/content/video/sample-video.ogg" type="video/ogg" />
</video>