@{
    ViewBag.Title = "Table";
}

<style type="text/css">

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

div, span, li, td {
  font-family: Helvetica;
}

td {
  border: solid 1px #CCC;
  padding: 3px 8px;
}

thead td {
  background-color: #777;
  border: solid 1px #000;
  color: #FFF;
}

@@media screen and (max-width: 960px) {
  thead {
    display: none;
  }

  tbody, tr, td {
    display: block;
  }

  td {
    padding-left: 50%;
  }

  td:first-child {
    background-color: #777;
    color: #FFF;
  }

  td:before {
    content: attr(data-title) ': ';
    display: inline-block;
    font-weight: bold;
    left: 10px;
    margin-right: 15px;
    position: absolute;
  }

  tr {
    margin-top: 15px;
  }
}

</style>

<p>This technique follows <a href="http://blog.easy-designs.net/archives/2013/02/02/responsive-tables/">Aaron Gustafson's practice</a> by turning
  the table into block level elements. Through a clever use of CSS content and attr(), titles are provided when the table moves to block mode.
  Unfortunately, this does not work in Internet Explorer 9 or below, which will affect Windows Phone 7.5 users.
</p>

<table>
  <thead>
    <tr>
      <td>Page</td>
      <td>Feb 1</td>
      <td>Feb 2</td>
      <td>Feb 3</td>
      <td>Feb 4</td>
      <td>Feb 5</td>
      <td>Feb 6</td>
      <td>Feb 7</td>
      <td>Feb 8</td>
      <td>Feb 9</td>
      <td>Feb 10</td>
      <td>Total</td>
      <td>Max</td>
      <td>Min</td>
      <td>Avg</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-title="Page">Serving static files from Node.js</td>
      <td data-title="Feb 1">101</td>
      <td data-title="Feb 2">68</td>
      <td data-title="Feb 3">61</td>
      <td data-title="Feb 4">111</td>
      <td data-title="Feb 5">122</td>
      <td data-title="Feb 6">131</td>
      <td data-title="Feb 7">104</td>
      <td data-title="Feb 8">84</td>
      <td data-title="Feb 9">55</td>
      <td data-title="Feb 10">70</td>
      <td data-title="Total">907</td>
      <td data-title="Max">131</td>
      <td data-title="Min">55</td>
      <td data-title="Avg">90.7</td>
    </tr>
    <tr>
      <td data-title="Page">Using the Selenium web driver</td>
      <td data-title="Feb 1">22</td>
      <td data-title="Feb 2">3</td>
      <td data-title="Feb 3">9</td>
      <td data-title="Feb 4">23</td>
      <td data-title="Feb 5">22</td>
      <td data-title="Feb 6">28</td>
      <td data-title="Feb 7">31</td>
      <td data-title="Feb 8">25</td>
      <td data-title="Feb 9">7</td>
      <td data-title="Feb 10">6</td>
      <td data-title="Total">176</td>
      <td data-title="Max">28</td>
      <td data-title="Min">3</td>
      <td data-title="Avg">17.6</td>
    </tr>
    <tr>
      <td data-title="Page">StructureMap and ASP.NET MVC - Getting Started</td>
      <td data-title="Feb 1">6</td>
      <td data-title="Feb 2">3</td>
      <td data-title="Feb 3">2</td>
      <td data-title="Feb 4">7</td>
      <td data-title="Feb 5">4</td>
      <td data-title="Feb 6">15</td>
      <td data-title="Feb 7">12</td>
      <td data-title="Feb 8">13</td>
      <td data-title="Feb 9">6</td>
      <td data-title="Feb 10">5</td>
      <td data-title="Total">73</td>
      <td data-title="Max">15</td>
      <td data-title="Min">2</td>
      <td data-title="Avg">7.3</td>
    </tr>
  </tbody>
</table>