@{
    ViewBag.Title = "Video";
}

<h2>Video</h2>

<p>This video is inconsistently responsive. By default, this video is 568 pixels in width. No CSS changes
  have been applied to make it flexible. When viewed on a mobile device with a smaller viewport, it 
  sometimes flexibly resizes.
</p>

<video controls src="/content/video/sample-video.webm">
  <source src="/content/video/sample-video.mp4" type="video/mp4" />
  <source src="/content/video/sample-video.ogg" type="video/ogg" />
</video>