@{
    ViewBag.Title = "Video Embedding";
}

<h2>Embedded YouTube</h2>

<iframe style="width: 420px; height:315px;" src="//www.youtube.com/embed/Hq2KXudEjkI" frameborder="0" allowfullscreen></iframe>

<h2>Embedded Vimeo</h2>

<iframe src="http://player.vimeo.com/video/69553622" style="width: 500px; height: 281px;" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/69553622">KELPE - 'Go Visible' (Video by Mira Loew and David Altweger)</a> from <a href="http://vimeo.com/drutrecordings">Drut</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
