@{
    ViewBag.Title = "Video";
}

<h2>Video</h2>

<p>This video is not responsive. By default, this video is 568 pixels in width. When viewed on a mobile
    device with a smaller viewport, it does not flexibly resize.
</p>

<video controls>
    <source src="/content/video/sample-video.mp4" type="video/mp4" />
    <source src="/content/video/sample-video.ogg" type="video/ogg" />
</video>